KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_INPUT_TOPIC=video.input
KAFKA_FLV_TOPIC=video.flv.input
KAFKA_OUTPUT_TOPIC=video.output
KAFKA_GROUP_ID=video-cutter-group
KAFKA_FLV_GROUP_ID=video-cutter-flv-group

TOS_ACCESS_KEY=
TOS_SECRET_KEY=
TOS_ENDPOINT=
TOS_REGION=
TOS_BUCKET=
TOS_PUBLIC_HOST=

DATA_DIR=data
LOG_LEVEL=INFO
USE_PRESIGNED_URL=false
